/*html {
			outline: 1px solid white;
}*/

body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	color: white;
	background: #FF9595;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	min-height: 100vh;
	transition: background 10s ease;

}

.sunrise {
	background: rgb(237,204,165); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,204,165,1) 0%, rgba(254,144,144,1) 71%, rgba(237,101,159,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,204,165,1)), color-stop(71%,rgba(254,144,144,1)), color-stop(100%,rgba(237,101,159,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,204,165,1) 0%,rgba(254,144,144,1) 71%,rgba(237,101,159,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,204,165,1) 0%,rgba(254,144,144,1) 71%,rgba(237,101,159,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,204,165,1) 0%,rgba(254,144,144,1) 71%,rgba(237,101,159,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(237,204,165,1) 0%,rgba(254,144,144,1) 71%,rgba(237,101,159,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edcca5', endColorstr='#ed659f',GradientType=0 ); /* IE6-9 */
}
.blue {
	background: rgb(169,228,247); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */

}

.night {
	background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}

.black {
	background: black;
}

.navbar {
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 16px;
	letter-spacing: 3px;
}

.navbar-default {
	background-color: transparent;
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.navbar-default .navbar-nav>li.fade1>a{
	color: transparent;
	text-shadow: 0 0 3px rgba(255,255,255,0.8);
}

.navbar-nav {
	width: 100%;
	text-align: center;
}

.navbar-nav>li {
	float: none;
	display: inline-block;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-toggle .icon-bar {
	border-radius: 0px;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
}

.navbar-collapse {
	box-shadow: none;
}

.navbar-toggle {
	float: left;
	margin-left: 15px;
	margin-top: 0px;
}

@media(min-width: 768px) {
	.navbar {
		margin-top: 100px;
	}
	.navbar-default .navbar-nav>li>a {
		color: white;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
	}
}

.middle .container {
	display: block;
	min-height: 100%;
/*	min-height: 100vh;*/
/*	display: flex;*/
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 100px;

}

.middle img{
	display: block;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}


.modal-open .modal,.btn:focus, a:focus{
	outline:none!important;
}

#profilepic {
	display: block;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;

}

.aboutmiddle {
	margin-top: 10px;
}

#halfsun {
	margin-right: auto;
	margin-left: auto;
	width: 150%;
	position: absolute;
}

.abouttext{
	padding: 50px;
	position:relative;
	color: #2C2C2D;
	letter-spacing: 3px;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 30px;
}

.lilsun {
	width: 100px;
	margin-right: auto;
	margin-left: auto;
}

#sunz {
	padding-bottom: 20px;
}

.abouttext {
	width: 100px;
	height: 190px;
	text-align: center;
}

.about {
	width: 100px;
	display: none;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.bottom {
	text-align: center;
	padding-top: 75px;
	font-size: 1.5em;
}
