html {
	height: 100%;
}

body {
	height: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	color: white;

/* 	background: #BAB53F;*/ /* green */
/*	background: #659CEF;*/
	background: #1e1e1e;


	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color:#FFD700;
	letter-spacing: .1em;

}


.bt {
	left: 20px;
	top: 20px;
	position: absolute;
	position:fixed;
	background: #FFD700;
	z-index: 3;
	height: 1px;
	width: calc(100% - 40px);
}

.br {
	right: 20px;
	top: 20px;
	position: absolute;
	position: fixed;
	background: #FFD700;
	z-index: 3;
	width: 1px;
	height: calc(100% - 40px);
}

.bb {
	bottom: 20px;
	left: 20px;
	position: absolute;
	position:fixed;
	background: #FFD700;
	z-index: 3;
	height: 1px;
	width: calc(100% - 40px);
}

.bl {
	left: 20px;
	top: 20px;
	width: 1px;
	height: calc(100% - 40px);
	position: absolute;
	position:fixed;
	background: #FFD700;
	z-index: 3;
}

header {
	text-align: center;
}

#name {
	font-size: 14px;
	position: relative;
	z-index: 3;
	top: 30px;

}

.there {
	font-weight: 300;
	vertical-align: top;

}

.expand {
	font-weight: 100;
	display: none;
	vertical-align: top;

}

#aboutme {
	font-size: 14px;
	position: absolute;
	position: fixed;
	z-index: 3;
	bottom: 30px;
	left: 40px;
	cursor: pointer;
}

.about-div{
	z-index: 3;
	padding: 20px;
	padding-top: 20px;
	height: 50%;
	width: 100%;
	position: absolute;
	position: fixed;
	background-color: #fcfcfc;
    display:none;
    color: #1e1e1e;
    font-size: 12px;
    text-align: justify;
}

.column-title {
	color: #FFD700;
	font-size: 15px;
	font-weight: 500;
}

.resume {
	text-align: center;
	border: solid;
	width: 100px;
	border-width: 1px;
	padding: 15px;
	color: #FFD700;
	font-size: .8em;
	margin-left: 10px;
	text-decoration: none;
}

.about-div a {
	text-decoration: none;
	color: #FFD700;
}

hr.style17 {
	position: relative;
	top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid  #FFD700;
	width: 25%;
	text-align: center;
}
hr.style17:after {
	content: '♦';
	display: inline-block;
	position: relative;
	top: -12px;
	padding: 0 6px;
	background: #fcfcfc;
	color:  #FFD700;
	font-size: 10px;
}

.grid-container {
	margin-top: 50px;
}

.grid {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
	cursor: pointer;
  font-weight: 300;
  width: 21.833%;
  padding-bottom: 21.833%;
/*  font-size: 5px;*/
  overflow: hidden;
  float: left;
   background:#FFD700;
  transform: rotate(45deg);
  margin: 5.5%;
  margin-top: -12%;
  -webkit-transition: background 2s; /* Safari */
  transition: background 2s;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
   margin-top: 5%;
}


.grid-item:nth-child(5n+4) {
    margin-left: 21.96%;
}

.grid-item:nth-child(5n+5) {
	margin-left:5.48%;
}

.grid-item:nth-child(5n+6) {
    clear:left;
}

.grid-item:nth-child(5n+6):last-of-type {
  margin-left: 38.3%;
}


.grid-item:hover {
	background: #fcfcfc;
  color: black;
  
}

.grid-inner {
  box-sizing: border-box;
  position: absolute;
  top:0;
  color: #1e1e1e;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  text-align: center;
  padding-top: 45%;
  font-size: .8em;
}

#social {
		position: absolute;
	position: fixed;
	z-index: 3;
	bottom: 30px;
	right: 30px;}

.icons {
    display: inline-block;
    margin-right: 10px;
}

.icons img{
	width: 18px;
    height: 18px;
}

.right-panel{
  width:50%;
  height:100%;
  left:50%;
  top:0;
  position:fixed;
  background: #fcfcfc;
  display: none;
  align-items: center;
  justify-content: center;
}

.left-panel{
  width:50%;
  height:100%;
/*  left:50%;*/
  top:0;
  position:fixed;
  background: #1e1e1e;
  align-items: center;
  justify-content: center;
  display: none;
}

.container {
	width: 90%;
}

.title {
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 100;
	margin-bottom: 20px;
}

.back {
	position: absolute;
	position: fixed;
	z-index: 3;
	bottom: 30px;
	left: 40px;
	cursor: pointer;
}

.back img {
	width: 25px;
}


.cycle-slideshow {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.links {
	clear: left;
	width: 100%;
	margin-top: 20px;
}

.view {
	border: solid;
	border-width: 1px;
	float: right;
	padding: 15px;
	color: #1e1e1e;
	font-size: .8em;
	margin-left: 10px;
}
.pw {
	width: 100%;
}

.asq {
	width: 100%;
}

.vr {
	width: 100%;
}

.fs {
	position: absolute;
	width: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.ios {
	position: absolute;
	width: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.gc {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.medium {
	position: absolute;
	width: 65%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.description {
	color: #fcfcfc;
	font-size: .8em;
	text-align: justify;
	line-height: 3em;
	font-weight: 100;
}

.date {
	color: #1e1e1e;
	margin-bottom: 20px;
	text-transform: uppercase;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){

/*	.grid-container {
/*		margin-top: 50px;*/
/*	}
*/
	.grid {
/*	  width: 100%;
	  max-width: 900px;
	  margin: 0 auto;*/

	}

/*	.grid::after {
	  content: "";
	  display: block;
	  clear: both;
	}
*/
	.grid-item {
/*		cursor: pointer;
	  font-weight: 300;*/
/*	  width: 21.833%;
	  padding-bottom: 21.833%;*/
/*	  overflow: hidden;*/
	/*  float: left;*/
/*	   background:#FFD700;*/
	/*  transform: rotate(45deg);*/
/*	  margin: 5.5%;
	  margin-top: -12%;*/
	/*  -webkit-transition: background 2s; *//* Safari */
/*	  transition: background 2s;*/
	}

	.grid-item:nth-child(1),
	.grid-item:nth-child(2),
	.grid-item:nth-child(3) {
	}


	.grid-item:nth-child(5n+4) {
	}

	.grid-item:nth-child(5n+5) {
	}

	.grid-item:nth-child(5n+6) {
	}

	.grid-item:nth-child(5n+6):last-of-type {
	}


	.grid-item:hover {
/*	background: #fcfcfc;
	  color: black;*/
	  
	}

	.grid-inner {
/*	  box-sizing: border-box;
	  position: absolute;
	  top:0;
	  color: #1e1e1e;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  font-size: .8em;*/
	}

	#name {
	font-size: 14px;
	position: relative;
	z-index: 3;
	top: 30px;
	color:red;

	}
}
















